.datagrid_hdr {
	float: left;
	width: 300px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #333333;
}

.datagrid_hdr h1{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #007AD5;
	margin: 0px;
	font-weight: normal;
}
.datagrid_actions {
	text-align: right;
	float: right;
	width: 450px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}
.datagrid_actions form{
	margin:0px;
}

.datagrid_actions form input{
	margin-left:5px;
}
.datagrid {
	border-collapse: collapse;
	width: 90%;
	margin-top: 15px;
	margin-bottom: 15px;
	border-top: 1px solid #333333;
	border-right: 1px none #333333;
	border-bottom: 1px solid #333333;
	border-left: 1px solid #333333;
	color: #333333;
}
.datagrid tr th {
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	background-color: #1F61A9;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #333333;
	border-right-color: #333333;
	border-bottom-color: #333333;
	border-left-color: #333333;
	font-size: 13px;
	padding: 5px;
}
.datagrid tr td {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #FFFFFF;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #333333;
	border-right-color: #333333;
	border-bottom-color: #333333;
	border-left-color: #333333;
	font-size: 12px;
	padding: 5px;
}

.phasedtraining_wrapper
{
	margin: 10px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
}
.phasedtraining_hdr_wrapper
{
	height: 50px; /* changed from 25 by shindo edge*/
	background-image: url(/TrainingReports/resources/images/medblue.gif);
	background-repeat: repeat-x;
	background-position: bottom;
}
.phasedtraining_hdr_infoblock
{
	float: right;
	margin-left: 10px;
	margin-right: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000000;
	margin-top: 5px;
}
.phasedtraining_tabLinks
{
	float: left;
	margin-right: 15px;
	margin-left: 15px;
}
.phasedtraining_tabLinks a:link, .phasedtraining_tabLinks a:visited
{
	background-image: url(/TrainingReports/resources/images/phaseLink_bg.gif);
	background-repeat: no-repeat;
	/* background-position: bottom; comment by shindo edge*/
	height: 50px;
	width: 80px;
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px; /* shindo font size 13 edge */
	color: #333333;
	text-decoration: none;
	text-align: center;
	padding-top: 8px;
	padding-bottom: 2px;
	display: block;
	float: left;
	padding-right: 0px;
	padding-left: 0px;
}
.user_tabLinks
{
	background-image: url(/TrainingReports/resources/images/phaseLink_bg.gif);
	background-repeat: no-repeat;
	background-position: bottom;
	height: 40px; /* height changed form 50 shindo edge */
	width: 80px;
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #333333;
	text-decoration: none;
	text-align: center;
	padding-top: 8px;
	padding-bottom: 2px;
	display: block;
	float: left;
	padding-right: 0px;
	padding-left: 0px;
}
.user_tabLinks_selected
{
    background-image: url(/TrainingReports/resources/images/phaseLink_on.gif);
	background-repeat: no-repeat;
	/* background-position: bottom; comment by shindo height */
	height: 40px;
	width: 80px;
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #333333;
	text-decoration: none;
	text-align: center;
	padding-top: 8px;
	padding-right: 0px;
	padding-bottom: 2px;
	padding-left: 0px;
    float: left;
}
#phasedtraining_tabLinks_on
{
	background-image: url(/TrainingReports/resources/images/phaseLink_on.gif);
	background-repeat: no-repeat;
	background-position: bottom;
	height: 40px; /* chaged from 50 by shindo edge */
	width: 80px;
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #333333;
	text-decoration: none;
	text-align: center;
	padding-top: 8px;
	padding-right: 0px;
	padding-bottom: 2px;
	padding-left: 0px;
}
.phasedtraining_whitebox {
	background-color: #FFFFFF;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #8f9697;
	border-right-color: #8f9697;
	border-bottom-color: #8f9697;
	border-left-color: #8f9697;
	margin-bottom: 10px;
	text-align: center;
	padding-bottom: 50px;
}
.phasedtraining_table {
    width:90%;/*  changed by shindo edge '=' */
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #333333;
	border-right-color: #333333;
	border-bottom-color: #333333;
	border-left-color: #333333;
	border-collapse:collapse;
	text-align: left;
}
.phasedtraining_table tr th{
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
	background-color: #99ccff;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #333333;
	border-right-color: #333333;
	border-bottom-color: #333333;
	font-size: 14px;
	font-weight: normal;
}
#greyscell{
	background-color: #eaeaea;
}
#greyscell td{
	background-color: #eaeaea;
}
.phasedtraining_table tr td {
	border-top-color: #333333;
	border-right-color: #333333;
	border-bottom-color: #333333;
	border-left-color: #333333;
}
.tablestatus
{
	float: right;
	margin-right: 15px;
}

.page_content_wrapper {
	margin-right: 20px;
	margin-left: 20px;
	margin-top: 20px;
	margin-bottom: 10px;
}
.page_content_wrapper p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	margin-top: 0px;
	margin-bottom: 15px;
}
.page_content_wrapper h1{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #007AD5;
	margin: 10px 0px;
}

.searchbox {
	background-color: #E8EEF7;
	border: 1px solid #333333;
	height: 60px;
	float: left;
}
.searchbox form{
	margin:0px;
	padding: 10px 10px 0px;
}
.searchbox form select, .searchbox form input
{
	margin-top: 5px;
	margin-bottom: 5px;
	border: 1px solid #7C9EBD;
}
.searchbox_Hdr {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #333333;
}
.searchsection {
	padding: 0px 5px 0px 0px;
	float: left;
	width: 130px;
	text-align: left;
	margin: 0px;
}
.searchsection2 {
	padding: 0px 5px 0px 0px;
	float: right;
	width: 230px;
	text-align: left;
	margin: 0px;
}
.or {
	font-family: Arial, Helvetica, sans-serif;
	color: #666666;
	float: left;
	font-weight: bold;
	font-size: 18px;
	margin: 25px;
}
.traningtype_info {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin: 10px;
}
.traningtype_item {
	float: left;
	width: 175px;
	margin-bottom: 5px;
}
.incomplete {
	background-image: url(images/incomplete_bullet.gif);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 15px;
}