/* HTML ELEMENTS */



* {

	margin: 0;

	padding: 0;

}















/* LAYOUT */



table {margin:0 0 10px 0; border: solid 1px #ccc; text-align:left; width: 100%;}

tr, td{text-align:left; margin:0; padding:0;}

th {

	color: #fff;

	background: #1f61a9;

	padding:3px 6px;

	font-weight:normal;

	border-right:solid 1px #fff;

	}

th.last {border-right:0;}



td {

	padding:2px 6px;

	border-right:solid 1px #ccc;

	border-bottom: solid 1px #ccc;

	}



td.last {border-right: 0;}



.top_table_buttons {

	text-align:right;

	margin-bottom: 10px;

	}

.top_table_buttons img {

	padding-right: 5px;}



/* For Evaluation Results Legend */ 

.top_table_buttonsL {

    float: left;

	text-align:left;

	margin-bottom: 10px;

    position: relative;

	font-size: .9em;

	background-color: #f8f8f8;

	border: solid 1px #ccc;

	padding: 3px 5px;

	}    

    

.top_table_buttonsR {

    float: right;

	text-align:right;

	margin-bottom: 10px;

	}

.top_table_buttonsR img {

	padding-right: 5px;}

/* End For Evaluation Results Legend */ 



.button {width: 65px; text-align: center; }















#top_head_eval {

	height: 62px;

	background: #aed6eb url(../images/top_head_background.gif) repeat-y 0 0;

	text-align:left;

	width: auto;

	margin: 0; padding: 0;

	}



#top_head_eval_1 {

	height: 30px;

	background: #aed6eb url(../images/top_head_background.gif) repeat-y 0 0;

	text-align:left;

	width: auto;

	border-bottom: solid 8px #ffcc33;

	margin: 0; padding: 0;

	}



#top_head_eval_2 {

    height: 60px;

    background: #eff7fc url(../images/h3_background.gif) repeat-y;

	text-align:left;

	width: auto;

	margin: 0; padding: 0;

	}

	

#main_content {

	padding: 30px 30px 30px 45px; height: auto;

	}





















/*#p_evaluation_form h3 {

	text-align: center;

	margin: 20px 0;

	padding: 0px;

	font-size: 1.4em;

	border: none;

	color: #1f61a9;

	width: auto;

}*/

	

h4 {

	font-size: 100%;

	border: none;

	color: #333;

	width: auto;

	margin: 10px 0;

}

h5 {

	height: 17px;

	font-size: 100%;

	width: auto;

	color: #fff;

	padding: 1px 3px 0 15px;

	position: relative;

	float: left;

	

	background: url(../_img/question_img_left.gif) no-repeat;

	background-color: #1f61a9;



}



h6 {

	font-size: 100%;

	border: none;

	color: #333;

	width: auto;

	margin: 5px 15px;

}

/* MISCELLANEOUS */

hr {

	color: #1f61a9;

	background-color:  #1f61a9;

	height:1px;

	margin-bottom: 15px;

	border: none;

	}



ul.bullets {

	list-style-type: square;

	margin-left: 32px;

	}

.bullets li {

	padding: 0 0 2px 5px;

	list-style-type: square;

}



.clear {

	clear: both;

}



.footnote {

	font-size:.8em;

}

